.user-crud-container {
    display: flex;
    gap: 40px;
    padding: 20px;
  }
  
  .form-container, .list-container {
    flex: 1;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
  }
  
  mat-form-field {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-slide-toggle {
    margin-right: 20px;
  }
  
  button {
    min-width: 120px;
    font-size: 1em;
    font-weight: bold;
  }
  
  .list-container {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .user-item {
    display: flex;
    align-items: center;
    padding: 20px 0; /* Incrementa el padding vertical para más altura */
    min-height: 80px; /* Asegura una altura mínima para cada elemento */
    border-bottom: 1px solid #e0e0e0;
  }
  
  .user-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .user-info {
    display: flex;
    flex-direction: column; /* Apilar elementos en columna */
    font-size: 1em;
    color: #444;
  }
  
  .user-info strong {
    font-weight: bold;
    /* color: #333; */
  }
  
  .user-info span {
    font-size: 0.9em;
    color: #666;
  }
  
  .actions {
    display: flex;
    gap: 4px; /* Espacio reducido entre los botones */
  }
  
  .status-active {
    color: #388e3c !important; /* Verde para activo */
    font-weight: bold;
  }
  
  .status-inactive {
    color: #d32f2f !important;; /* Rojo para inactivo */
    font-weight: bold;
  }
  