<div class="user-crud-container">
    <div class="form-container">
        <h2>Registrar / Editar Usuario</h2>
        <form [formGroup]="userForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="fill">
                <mat-label>Cliente</mat-label>
                <mat-select formControlName="customer_id" required>
                    <mat-option *ngFor="let customer of customers" [value]="customer.id">
                        {{ customer.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput formControlName="username" required />
            </mat-form-field>

            <mat-slide-toggle formControlName="status">Activo</mat-slide-toggle>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </div>

    <div class="list-container">
        <h2>Listado de Usuarios</h2>
        <mat-list>
            <mat-list-item *ngFor="let user of users; let i = index" class="user-item">
                <div class="user-info-container">
                    <div class="user-info">
                        <strong>{{ user.username }}</strong>
                        <span>Cliente: {{ user.customer.name }}</span>
                        <!-- Aplicar las clases de estado basado en el valor de `user.status` -->
                        <span [ngClass]="user.status === '1' ? 'status-active' : 'status-inactive'">
                            {{ user.status === '1' ? '(Activo)' : '(Inactivo)' }}
                        </span>
                    </div>
                    <div class="actions">
                        <button mat-icon-button color="accent" (click)="editUser(user)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="openCampaignDialog(user.campaigns)">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>